# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric
run/

# generated assets
src/main/resources/assets/neutronia/blockstates/
src/main/resources/assets/neutronia/models/
